.row{
    background-color: #C1BBEB;
    width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.cart{
    background-color: #ffffff;
    margin: 20px;
    border-radius: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: transform 0.3s ease-in-out;


}
.cart:hover{
    transform: scale(1.1); /* Scale up on hover */
 
}
.icons{
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.icons svg{
    padding-right: 10px;
}
.imageCart{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageCart img{
    height: 35%;
    width: 35%;
    border-radius: 50%;
    border: 4px solid #c1bbeb;
}
.name{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 5%;
    font: 700 16px Poppins, sans-serif;
    color: var(--color-text, #303972);

}
.horizontal{
    display: flex;
    justify-content: right;
    padding: 10px;
}
