
th {
  height: 75px;
}
td {
  
  height: 68px;
}
.table {
  position: relative;
  border: 3px solid #ddd;
  border-radius: 12px;
  background-color: white;
  top: -35px;
}

.row {
  background-color: #F3F4FF;
}
tr{
  width: 23px;
}
.buttonsbas {
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgb(6, 126, 255);
  text-align: center;
}