
.footer {
  /* padding: 4rem 4rem; */
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  background-color:#283646;
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  /* margin-top: auto; */
}

.logo {
  position: relative;
  color: #5E5BFB;
  text-align: center;
  top: 20px;
}
.menu {
  position: relative;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content:center;
  /* margin: 20px; */
  margin: 1rem;
  
}
.menu a {
  color: white;
  width: 150px;
  text-decoration: none;
}

.menu h3 {
  margin: 10px;
  cursor:pointer;
}
.socialmedia {
  display: flex;
  text-align: center;
  widows: 50%;
  justify-content: center;
}

.socialmedia p {
  width:20px ;
  text-align: center;
  margin: 10px;
}



hr {
  width: 100%;
}
.copyright p {
  /* position: absolute; */
  display: flex;
  /* right: 200px; */
  color: white;
   justify-content: center;

}