
    .div {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .div-2 {
      background-color: #fff;
      align-self: stretch;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 44px 60px;
    }
    @media (max-width: 991px) {
      .div-2 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-3 {
      display: flex;
      margin-top: 28px;
      width: 100%;
      max-width: 1758px;
      padding-right: 37px;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-3 {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 20px;
      }
    }
    .div-4 {
      color: #5e5bfb;
      align-self: end;
      margin-top: 23px;
      flex-grow: 1;
      flex-basis: auto;
      font: 700 48px DM Sans, sans-serif;
    }
    @media (max-width: 991px) {
      .div-4 {
        font-size: 40px;
      }
    }
    .div-5 {
      align-self: end;
      display: flex;
      margin-top: 37px;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-5 {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .div-6 {
      color: #5e5bfb;
      align-self: start;
      white-space: nowrap;
      font: 500 36px DM Sans, sans-serif;
    }
    @media (max-width: 991px) {
      .div-6 {
        white-space: initial;
      }
    }
    .div-7 {
      color: #000;
      font: 500 36px DM Sans, sans-serif;
    }
    .div-8 {
      color: #000;
      font: 500 36px DM Sans, sans-serif;
    }
    .div-9 {
      color: #000;
      align-self: stretch;
      white-space: nowrap;
      font: 500 36px DM Sans, sans-serif;
    }
    @media (max-width: 991px) {
      .div-9 {
        white-space: initial;
      }
    }
    .div-10 {
      color: #fff;
      white-space: nowrap;
      border-radius: 10px;
      background-color: #423fe5;
      justify-content: center;
      padding: 23px 56px 23px 50px;
      font: 500 36px DM Sans, sans-serif;
    }
    @media (max-width: 991px) {
      .div-10 {
        white-space: initial;
        padding: 0 20px;
      }
    }
    .div-11 {
      display: flex;
      margin-top: 42px;
      width: 100%;
      max-width: 1794px;
      flex-direction: column;
      padding: 0 20px;
    }
    @media (max-width: 991px) {
      .div-11 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-12 {
      align-self: stretch;
    }
    @media (max-width: 991px) {
      .div-12 {
        max-width: 100%;
      }
    }
    .div-13 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-13 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 51%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column {
        width: 100%;
      }
    }
    .div-14 {
      display: flex;
      flex-direction: column;
      margin: auto 0;
    }
    @media (max-width: 991px) {
      .div-14 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-15 {
      color: #9796ba;
      font: 700 76px DM Sans, sans-serif;
    }
    @media (max-width: 991px) {
      .div-15 {
        max-width: 100%;
        font-size: 40px;
      }
    }
    .div-16 {
      color: #000;
      margin-top: 53px;
      font: 700 96px DM Sans, sans-serif;
    }
    @media (max-width: 991px) {
      .div-16 {
        max-width: 100%;
        font-size: 40px;
        margin-top: 40px;
      }
    }
    .div-17 {
      color: #7d7afb;
      margin-top: 54px;
      font: 700 64px DM Sans, sans-serif;
    }
    @media (max-width: 991px) {
      .div-17 {
        max-width: 100%;
        font-size: 40px;
        margin-top: 40px;
      }
    }
    .column-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 49%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-2 {
        width: 100%;
      }
    }
    .div-18 {
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .div-18 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-19 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-19 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column-3 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column-3 {
        width: 100%;
      }
    }
    .img {
      aspect-ratio: 0.8;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      margin-top: 221px;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .img {
        margin-top: 40px;
      }
    }
    .column-4 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-4 {
        width: 100%;
      }
    }
    .img-2 {
      aspect-ratio: 0.8;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
    }
    @media (max-width: 991px) {
      .img-2 {
        margin-top: 38px;
      }
    }
    .div-20 {
      color: rgba(0, 0, 0, 0.51);
      margin: 306px 0 0 53px;
      font: 400 36px Almarai, sans-serif;
    }
    @media (max-width: 991px) {
      .div-20 {
        margin: 40px 0 0 10px;
      }
    }
    .div-21 {
      align-self: center;
      display: flex;
      margin-top: 39px;
      width: 100%;
      max-width: 1664px;
      align-items: start;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-21 {
        max-width: 100%;
        flex-wrap: wrap;
      }
    }
    .div-22 {
      display: flex;
      margin-top: 27px;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-22 {
        max-width: 100%;
      }
    }
    .div-23 {
      color: #000;
      font: 700 64px Almarai, sans-serif;
    }
    @media (max-width: 991px) {
      .div-23 {
        max-width: 100%;
        font-size: 40px;
      }
    }
    .div-24 {
      color: rgba(0, 0, 0, 0.51);
      margin-top: 94px;
      font: 400 32px Almarai, sans-serif;
    }
    @media (max-width: 991px) {
      .div-24 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .img-3 {
      aspect-ratio: 0.99;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      align-self: stretch;
    }
    @media (max-width: 991px) {
      .img-3 {
        max-width: 100%;
      }
    }
    .div-25 {
      color: rgba(0, 0, 0, 0.73);
      letter-spacing: 10px;
      align-self: center;
      margin-top: 305px;
      max-width: 353px;
      font: 400 40px Archivo Narrow, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-25 {
        margin-top: 40px;
      }
    }
    .div-26 {
      align-self: center;
      margin-top: 194px;
      width: 100%;
      max-width: 1597px;
    }
    @media (max-width: 991px) {
      .div-26 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-27 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-27 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column-5 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 34%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column-5 {
        width: 100%;
      }
    }
    .img-4 {
      aspect-ratio: 1.32;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .img-4 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .column-6 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 34%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-6 {
        width: 100%;
      }
    }
    .img-5 {
      aspect-ratio: 1.32;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .img-5 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .column-7 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 32%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-7 {
        width: 100%;
      }
    }
    .img-6 {
      aspect-ratio: 1.32;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .img-6 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-28 {
      background-color: var(--black-black-70, #283646);
      align-self: stretch;
      display: flex;
      margin-top: 235px;
      width: 100%;
      flex-direction: column;
      padding: 50px 20px;
    }
    @media (max-width: 991px) {
      .div-28 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-29 {
      color: #5e5bfb;
      font-variant-numeric: lining-nums proportional-nums;
      align-self: center;
      margin-top: 34px;
      white-space: nowrap;
      font: 700 36px/22px Raleway, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-29 {
        white-space: initial;
      }
    }
    .div-30 {
      align-self: center;
      display: flex;
      margin-top: 38px;
      width: 596px;
      max-width: 100%;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-30 {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .div-31 {
      color: var(--Z-White-FFF, #fff);
      align-self: start;
      white-space: nowrap;
      font: 400 32px/48px Roboto, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-31 {
        white-space: initial;
      }
    }
    .div-32 {
      color: var(--Z-White-FFF, #fff);
      align-self: stretch;
      font: 400 32px/48px Roboto, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .div-33 {
      color: var(--Z-White-FFF, #fff);
      font: 400 32px/48px Roboto, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .div-34 {
      color: var(--Z-White-FFF, #fff);
      align-self: start;
      white-space: nowrap;
      font: 400 32px/48px Roboto, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-34 {
        white-space: initial;
      }
    }
    .div-35 {
      align-self: center;
      display: flex;
      margin-top: 40px;
      width: 216px;
      max-width: 100%;
      justify-content: space-between;
      gap: 20px;
      padding: 0 1px;
    }
    @media (max-width: 991px) {
      .div-35 {
        justify-content: center;
      }
    }
    .img-7 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      flex: 1;
    }
    .img-8 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      flex: 1;
    }
    .img-9 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      flex: 1;
    }
    .img-10 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      flex: 1;
    }
    .img-11 {
      aspect-ratio: 2066;
      object-fit: contain;
      object-position: center;
      width: 100%;
      stroke-width: 1px;
      stroke: var(--blue-blue-50, #76aeff);
      overflow: hidden;
      align-self: stretch;
      margin-top: 35px;
    }
    @media (max-width: 991px) {
      .img-11 {
        max-width: 100%;
      }
    }
    .div-36 {
      color: var(--white-white-90, #cfd3d7);
      text-align: center;
      align-self: center;
      white-space: nowrap;
      margin: 41px 0 70px;
      font: 400 20px/30px Roboto, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-36 {
        white-space: initial;
        margin: 40px 0;
      }
    }
  