.bod {
    /* position: absolute;
    top: 0%;
    background-color: rgb(23, 221, 73);
    width: 21%;
    height: 9%;
    right: 0; */
}

.globle {
    position: absolute;
    width: 21vw;
    height: 8vh;
    top: 50%;
    right: 0; 
    /* border:2px solid red; */
    /* padding: 10px; */
    text-align: center;
  /* transform: translateY(-50%); */
  top: 50%;
}

.avatar{
    position: absolute;
    right: 0;
      /* border:solid grey 2px; */
      width: 3vw;
      height: 3vw;
      top: 18%;

}

.avatarSetting
{
    position: relative;
    border:solid grey 2px;
    width: 3vw;
    height: 3vw;
    background-color: rgb(253, 250, 250);

}




p{
    
    position: absolute;
    /* flex: 1; */
    /* gap: 10px; */
    line-height: 0.7;
    /* font-size: 70%; */
    width: 9vw;
    top: 10px;
   
    /* size: 100px; */
    margin: 0;

}
